body {
    font-family: 'Work Sans', sans-serif;
}

.portfolio-website {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2c313c;
}

.portfolio-website > .logo {
    width: 30px;
}

.portfolio-website > p {
    padding: 0 10px;
}